/Builds
.DS_Store
1bit_project/.DS_Store
1bit_project_old/.DS_Store
Art/.DS_Store
/Art/Cinematics/BitCinematics
/Art/Cinematics/other
/Art/Cinematics/Render_AUDIO
/Art/Cinematics/MainCinematics.aep Logs
/Art/Cinematics/Adobe After Effects Auto-Save
Audio/GarageBand/**/*.band/Alternatives/**/Autosave/